* {
    box-sizing: border-box;
}

html {
    --t-blue: #85d0ff;
    --t-yellow: #ffdd84;
    --t-brown: #83785c;
    --t-dullblue: #747a8c;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

header {
    height: 90px;
    min-height: 90px;
    background-color: var(--t-blue);
    padding: 0 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
    }
}

main>div {
    width: 100%;
    height: 100%;
}

main>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

main>div:nth-child(2) {
    border: none;/*2px dotted var(--t-dullblue);*/
    border-radius: 10px;
    padding: 10px;
}

#grid-cont {
    display: flex;
    flex-grow: 1;
}

#grid-furthercont {
    display: grid;
    overflow: hidden;
}

#grid {
    position: relative;
    aspect-ratio: 1;
    border: 2px solid var(--t-blue);
    overflow: hidden;
    max-width: 500px;
    min-width: 150px;
}

#grid>* {
    aspect-ratio: 1;
    position: absolute;
}

#grid>*.piece {
    cursor: pointer;
}

#grid>*>* {
    background-color: black;
    width: 100%;
    height: 100%;
}

#grid>*.rook>* {
    clip-path: polygon(0 0, 20% 0%, 20% 20%, 40% 20%, 40% 0, 60% 0, 60% 20%, 80% 20%, 80% 0, 100% 0, 100% 40%, 70% 40%, 70% 80%, 100% 80%, 100% 100%, 0 100%, 0 80%, 30% 80%, 30% 40%, 0 40%);
    transform: scale(0.4);
}

#grid>*.piece>* {
    clip-path: circle(50.0% at 50% 50%);
    transform: scale(0.4);
}

#grid>*.piece:hover>* {
    transform: scale(0.5);
}

/* Start general styles */

button {
    width: fit-content;
    cursor: pointer;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    text-decoration: underline;
}

/* End general styles */